*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(direction, rgb(183, 229, 255),rgb(79, 79, 255), rgb(249, 151, 249)
    );
    
}
header{
    height: 4rem;
   
    background-color: rgb(223, 255, 158);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0,0,0,0.1);
}
.list{
    width: 30rem;
    display: flex;
    justify-content: space-around;
  
}
.logo p {
    font-size: 2rem;
    font-weight: bold;
}

.list a{
    font-size: 1.2rem;
    text-decoration: none;
}
.links img{
    height: 2rem;
    width: 2rem;
}
.name span{
    color: rgb(241, 114, 29);
}
.info{
    flex-direction: column;
    display: flex;
    justify-content: center;
    max-width: 41rem;
    margin-left: 40px;
}
main{
    display: flex;
    height: 100vh;
    margin-left: 10rem;
}
.content{
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    gap: 2rem;
}
.cv-btn {
    width: 7rem;
    height: 3rem;
    border-radius: 10px;
    background-color: black;
    color: white;
    border: none;
}
.links{
    display: flex;
    gap: 15px;
}
.profile-img {
    align-content: center;
}   

